h1 {
    color: var(--primary);
    text-shadow: 2px 2px 3px #969696;
    margin: 50px 0 0 2rem;
}

form {
    border: 2px solid var(--primary);
    border-radius: 10px;
    color: var(--primary);
    /* background-color: rgb(228, 228, 228); */
    padding: 40px;
    text-shadow: 2px 2px 3px #969696;
    -webkit-box-shadow: 1px 11px 15px 15px #dddddd; 
    box-shadow: 1px 11px 15px 15px #dddddd;
    margin: 10rem 2rem;   
}

